.button {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px;
  gap: 10px;
  cursor: pointer;
}

.button:hover {
  border: 1px solid #bbbbbb;
}