.collapes {
  box-shadow: 0px 0px 67px rgba(0, 0, 0, 0.03),
    0px 0px 39.2384px rgba(0, 0, 0, 0.0227778),
    0px 0px 21.3407px rgba(0, 0, 0, 0.0182222),
    0px 0px 10.8875px rgba(0, 0, 0, 0.015),
    0px 0px 5.45926px rgba(0, 0, 0, 0.0117778),
    0px 0px 2.63657px rgba(0, 0, 0, 0.00722222);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-inline: 20px;
  cursor: pointer;

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 90px;
  }

  .collapes-state {
    display: flex;
    align-items: center;
    
  }

  .red {
    color: red;
    display: flex;
    justify-content: flex-end;
  }
}
